Registrations Confirmation
==========================
Fullname: <%= @employee.fullname %>
Email : <%= @user.email %>
Username : <%= @user.username %>
Password : <%= @user.password %>

==========================

Please change your password immediately!