<h1> Checkin </h1>
<p> ================================== </p>

<p> Name: <%= @employee.fullname %></p>
<p> NIP: <%= @employee.employeeCode %></p>
<p>-------------------------------------------------</p>
<p> Check in Data:</p>
<p> Checkin time: <%= @attendance.checkin %></p>
<p> Location:</p>
<p> Lat: <%= @attendance.checkinLat %></p>
<p> Lng: <%= @attendance.checkinLng %></p>
<img src= <%= @attendance.selfie.url(width: 100) %>>
<p>==================================</p>
<p> thank you for your checkin</p>