<h1> Checkout </h1>
<p> ================================== </p>

<p> Name: <%= @employee.fullname %></p>
<p> NIP: <%= @employee.employeeCode %></p>
<p>-------------------------------------------------</p>
<p> Check in Data:</p>
<p> Checkin time: <%= @attendance.checkin %></p>
<p> Location:</p>
<p> Lat: <%= @attendance.checkinLat %></p>
<p> Lng: <%= @attendance.checkinLng %></p>
<p>-------------------------------------------------</p>
<p> Check out Data:</p>
<p> Checkout time: <%= @attendance.checkout %></p>
<p> Location:</p>
<p> Lat: <%= @attendance.checkoutLat %></p>
<p> Lng: <%= @attendance.checkoutLng %></p>
<p>==================================</p>
<p> thank you for your checkout, have a nice day</p>